*{
            font-family:Cairo ;
            margin: 0;
            border-radius: 18px;
            
}
html {
            height: 100%;
  }

 body {
            /* background: #51adcf; */
        /* background-image: url(./background.jpg); */
            background-repeat: no-repeat;
            background-size: cover;
            /* background: rgb(0,212,255); */
         background: #08d9d6;
           height: 100%;
  }
  h3{
    padding: center;  
}
  /* ---------------(الشريط الجانبي)-------------- */
    .side-bar {
            justify-content: center;
            height: 100%;
            padding: 10px;
            display: flex;
            
        }
    /* ------------------(العنوان)------------------ */
    .header {
            width: 100%;
            flex-direction: column;
            padding: 10px;
            border-radius: 12px;
            display: flex;
            
    }
      .navbar {
        /* background: #252a34; */
        background: rgb(50,18,122);
background: radial-gradient(circle, rgba(50,18,122,0.9528186274509804) 100%, rgba(50,18,122,0.9528186274509804) 100%);
          display: flex;
            flex-direction: column;
            border-radius: 12px;
            box-shadow: 5px 5px 8px black;
            padding: 25px;
            
      }
      .hrpadding{
            padding-left:155px ;
            padding-right:155px ;
            

      }
      .head-a {
            font-size: 20px;
            color: white;
            text-decoration: none;
      }
      .title {
            text-align: center;
            color: white;
      }
      .head-li {
                display: inline;
                padding: 15px;
     }
      .head-ul {
                display: flex;
                justify-content: center;
    }
      
  /* ------------------(المحتوى)------------------ */
  .img21{
        width: 150px;
        height: 150px;
        margin:auto ;
        padding: auto;
        border-radius: 50%;
        
  }
  .img22 {
    width: 25px;
    height: 25px;
       margin:auto ;
       padding: 10px;
       border-radius: 50%;
        /*  justify-content: center;
        flex-direction:row ;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding-top:10px;
        padding-right: 80px;
        padding-left: 80px;
        margin-right: auto;
        margin-left: auto; */

  }
  .img23{
    width: 75px;
    height: 75px;
    margin:auto ;
    padding: auto;
    border-radius: 50%;
    
}
  .menu {
    background: rgb(255,46,99);
    background: radial-gradient(circle, rgba(255,46,99,0.95) 100%, rgba(255,46,99,0.95) 100%);  padding: 25px;
  
    padding: 25px;
    height: auto;
    width: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 8px 8px 8px black;
  }
  .imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .menu-feed{
      display: flex;
      flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color:  #eaeaea;
    color: black;
    text-align: center;
    padding-top: 5px;
  }
  .menu-title {
    display: block;
  }

    /* hdelet1 */
  
  .warp{
       display: flex;
     flex-wrap : wrap;
   }
   footer{
       /* change to auto shehabbbbbbbbbbbb*/
       
       width: auto; 
       height: auto;
       margin-top: 100px;
       margin-right: 10px;
       margin-left: 10px;
       margin-bottom: 10px;
       flex-wrap: wrap;
       /* background-color: #252a34; */
       background: rgb(50,18,122);
       background: radial-gradient(circle, rgba(50,18,122,0.9528186274509804) 100%, rgba(50,18,122,0.9528186274509804) 100%);
       border-radius: 12px;
       padding: center;
       padding-top: 5px;
   }
    .centter{
        margin:auto ;
        display:flex;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding-top:10px ;
    }
    h6{
        font-size: 42px;
    }
    a {
        text-decoration: none;
      }