*{
    font-family:Cairo ;
    margin: 0;
    border-radius: 18px;
    
}
html {
    height: 100%;
}

body {
    background: #08d9d6;
/* background-image: url(./background.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #84a9ac; */
    height: 100%;
}
.menu {
    background-color:  #ff2e63;
    padding: 25px;
    height: auto;
    width: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 8px 8px 8px black;
  }
  .imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu-feed{
    display: flex;
    flex-wrap: wrap;
  width: 200px;
  height: auto;
  margin: 10px;
  background-color:  #eaeaea;
  color: black;
  text-align: center;
  padding: 10px;
  
}
.menu-title {
  display: block;
}

.warp{
     display: flex;
   flex-wrap : wrap;
 }
 h6{
    font-size:18px;
    width: auto;
    height: auto;
}
a {
    text-decoration: none;
  }
  p{
      padding-top: 5px;
  }
  /* [type=text] */
  input{
      margin: 5px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      width: auto;
      height: 50px;
      font-size: x-large;
      text-align: center;
      outline: none;
  }
  .bttn{
    width: 150px;
    height: auto;
    margin: 25px;
    font-size: x-large;
    outline: none;
  }